In [ ]:
'''
Data cleaning means fixing bad data in your data set.

Bad data could be:

    Empty cells
    Data in wrong format
    Wrong data
    Duplicates
'''

In [1]:
import numpy as np
import pandas as pd

whisky = pd.read_csv("whiskies_mod.txt", index_col=0)
display(whisky.head(12))
display(whisky.tail(2))

,Body,Sweetness,Smoky,Medicinal,Tobacco,Honey,Spicy,Winey,Nutty,Malty,Fruity,Floral,Postcode,Latitude,Longitude,Region
Distillery,,,,,,,,,,,,,,,,
Aberfeldy,2.0,2,2,0,0,2,1.0,2,2,2,2,2,PH15 2EB,286580,749680,Speyside
Aberlour,3.0,3,1,0,0,4,3.0,2,2,3,3,8,AB38 9PJ,326340,842570,Highlands
AnCnoc,1.0,3,2,0,0,2,0.0,0,2,2,3,2,AB5 5LI,352960,839320,Islay
Ardbeg,4.0,1,4,4,0,0,2.0,0,1,2,1,0,PA42 7EB,141560,646220,Highlands
Ardmore,2.0,2,2,0,0,1,1.0,1,2,3,1,1,AB54 4NH,355350,829140,Islands
Ardmore,2.0,2,2,0,0,1,1.0,1,2,3,1,1,AB54 4NH,355350,829140,Islands
ArranIsleOf,2.0,3,1,1,0,1,1.0,1,0,1,1,2,KA27 8HJ,194050,649950,Lowlands
Auchentoshan,NaN,2,0,0,0,1,1.0,0,2,2,3,3,G81 4SJ,247670,672610,Speyside
Auchroisk,2.0,3,1,0,0,2,1.0,2,2,2,2,1,AB55 3XS,340754,848623,Speyside
Aultmore,2.0,2,1,0,0,1,0.0,0,2,2,2,2,AB55 3QY,340754,848623,Highlands
Balblair,2.0,3,2,1,0,0,NaN,0,2,1,2,1,IV19 1LB,270820,885770,Speyside
Balmenach,4.0,3,2,0,0,2,1.0,3,3,0,1,2,PH26 3PF,307750,827170,Speyside

,Body,Sweetness,Smoky,Medicinal,Tobacco,Honey,Spicy,Winey,Nutty,Malty,Fruity,Floral,Postcode,Latitude,Longitude,Region
Distillery,,,,,,,,,,,,,,,,
Tormore,2.0,2,1,0,0,1,0.0,1,2,1,0,0,PH26 3LR,315180,834960,Highlands
Tullibardine,2.0,3,0,0,1,0,2.0,1,1,2,2,1,PH4 1QG,289690,708850,NaN

In [2]:
# print rows with null values.
# df_null = whisky[whisky.isnull().any(axis=1)]
# display(df_null)


# One way to deal with empty cells is to remove rows that contain empty cells.
# This is usually OK, since data sets can be very big, and removing a few rows will not have a big impact on the result.
dropped = whisky.dropna()
display(dropped.head(12))
display(dropped.tail(2))

# Notice missing rows Auchentoshan, Balblair and Tullibardine

,Body,Sweetness,Smoky,Medicinal,Tobacco,Honey,Spicy,Winey,Nutty,Malty,Fruity,Floral,Postcode,Latitude,Longitude,Region
Distillery,,,,,,,,,,,,,,,,
Aberfeldy,2.0,2,2,0,0,2,1.0,2,2,2,2,2,PH15 2EB,286580,749680,Speyside
Aberlour,3.0,3,1,0,0,4,3.0,2,2,3,3,8,AB38 9PJ,326340,842570,Highlands
AnCnoc,1.0,3,2,0,0,2,0.0,0,2,2,3,2,AB5 5LI,352960,839320,Islay
Ardbeg,4.0,1,4,4,0,0,2.0,0,1,2,1,0,PA42 7EB,141560,646220,Highlands
Ardmore,2.0,2,2,0,0,1,1.0,1,2,3,1,1,AB54 4NH,355350,829140,Islands
Ardmore,2.0,2,2,0,0,1,1.0,1,2,3,1,1,AB54 4NH,355350,829140,Islands
ArranIsleOf,2.0,3,1,1,0,1,1.0,1,0,1,1,2,KA27 8HJ,194050,649950,Lowlands
Auchroisk,2.0,3,1,0,0,2,1.0,2,2,2,2,1,AB55 3XS,340754,848623,Speyside
Aultmore,2.0,2,1,0,0,1,0.0,0,2,2,2,2,AB55 3QY,340754,848623,Highlands
Balmenach,4.0,3,2,0,0,2,1.0,3,3,0,1,2,PH26 3PF,307750,827170,Speyside
Belvenie,3.0,2,1,0,0,3,2.0,1,0,2,2,2,AB55 4DH,332680,840840,Highlands
BenNevis,4.0,2,2,0,0,2,2.0,0,2,2,2,2,PH33 6TJ,212600,775710,Speyside

,Body,Sweetness,Smoky,Medicinal,Tobacco,Honey,Spicy,Winey,Nutty,Malty,Fruity,Floral,Postcode,Latitude,Longitude,Region
Distillery,,,,,,,,,,,,,,,,
Tomintoul,0.0,3,1,0,0,2,2.0,1,1,2,1,2,AB37 9AQ,315100,825560,Speyside
Tormore,2.0,2,1,0,0,1,0.0,1,2,1,0,0,PH26 3LR,315180,834960,Highlands

In [3]:
# Another way of dealing with empty cells is to insert a new value instead.
# This way you do not have to delete entire rows just because of some empty cells.

# A common way to replace empty cells, is to calculate the mean, median or mode value of the column.
# Pandas uses the mean() median() and mode() methods to calculate the respective values for a specified column:

bmean = whisky["Body"].mean()
whisky["Body"].fillna(bmean, inplace=True)
display(whisky.head(12))

# Notice Auchentoshan updated to 2.103448 Balblair still NaN

,Body,Sweetness,Smoky,Medicinal,Tobacco,Honey,Spicy,Winey,Nutty,Malty,Fruity,Floral,Postcode,Latitude,Longitude,Region
Distillery,,,,,,,,,,,,,,,,
Aberfeldy,2.000000,2,2,0,0,2,1.0,2,2,2,2,2,PH15 2EB,286580,749680,Speyside
Aberlour,3.000000,3,1,0,0,4,3.0,2,2,3,3,8,AB38 9PJ,326340,842570,Highlands
AnCnoc,1.000000,3,2,0,0,2,0.0,0,2,2,3,2,AB5 5LI,352960,839320,Islay
Ardbeg,4.000000,1,4,4,0,0,2.0,0,1,2,1,0,PA42 7EB,141560,646220,Highlands
Ardmore,2.000000,2,2,0,0,1,1.0,1,2,3,1,1,AB54 4NH,355350,829140,Islands
Ardmore,2.000000,2,2,0,0,1,1.0,1,2,3,1,1,AB54 4NH,355350,829140,Islands
ArranIsleOf,2.000000,3,1,1,0,1,1.0,1,0,1,1,2,KA27 8HJ,194050,649950,Lowlands
Auchentoshan,2.103448,2,0,0,0,1,1.0,0,2,2,3,3,G81 4SJ,247670,672610,Speyside
Auchroisk,2.000000,3,1,0,0,2,1.0,2,2,2,2,1,AB55 3XS,340754,848623,Speyside
Aultmore,2.000000,2,1,0,0,1,0.0,0,2,2,2,2,AB55 3QY,340754,848623,Highlands
Balblair,2.000000,3,2,1,0,0,NaN,0,2,1,2,1,IV19 1LB,270820,885770,Speyside
Balmenach,4.000000,3,2,0,0,2,1.0,3,3,0,1,2,PH26 3PF,307750,827170,Speyside

In [4]:
# The fillna() method also allows us to replace all empty cells with a value in the worksheet with a value

whisky = whisky.fillna(2)
display(whisky.head(12))
display(whisky.tail(2))

# Notice Balblair["Spicy"] is now 2 as is Tullibardine["Region"]

,Body,Sweetness,Smoky,Medicinal,Tobacco,Honey,Spicy,Winey,Nutty,Malty,Fruity,Floral,Postcode,Latitude,Longitude,Region
Distillery,,,,,,,,,,,,,,,,
Aberfeldy,2.000000,2,2,0,0,2,1.0,2,2,2,2,2,PH15 2EB,286580,749680,Speyside
Aberlour,3.000000,3,1,0,0,4,3.0,2,2,3,3,8,AB38 9PJ,326340,842570,Highlands
AnCnoc,1.000000,3,2,0,0,2,0.0,0,2,2,3,2,AB5 5LI,352960,839320,Islay
Ardbeg,4.000000,1,4,4,0,0,2.0,0,1,2,1,0,PA42 7EB,141560,646220,Highlands
Ardmore,2.000000,2,2,0,0,1,1.0,1,2,3,1,1,AB54 4NH,355350,829140,Islands
Ardmore,2.000000,2,2,0,0,1,1.0,1,2,3,1,1,AB54 4NH,355350,829140,Islands
ArranIsleOf,2.000000,3,1,1,0,1,1.0,1,0,1,1,2,KA27 8HJ,194050,649950,Lowlands
Auchentoshan,2.103448,2,0,0,0,1,1.0,0,2,2,3,3,G81 4SJ,247670,672610,Speyside
Auchroisk,2.000000,3,1,0,0,2,1.0,2,2,2,2,1,AB55 3XS,340754,848623,Speyside
Aultmore,2.000000,2,1,0,0,1,0.0,0,2,2,2,2,AB55 3QY,340754,848623,Highlands
Balblair,2.000000,3,2,1,0,0,2.0,0,2,1,2,1,IV19 1LB,270820,885770,Speyside
Balmenach,4.000000,3,2,0,0,2,1.0,3,3,0,1,2,PH26 3PF,307750,827170,Speyside

,Body,Sweetness,Smoky,Medicinal,Tobacco,Honey,Spicy,Winey,Nutty,Malty,Fruity,Floral,Postcode,Latitude,Longitude,Region
Distillery,,,,,,,,,,,,,,,,
Tormore,2.0,2,1,0,0,1,0.0,1,2,1,0,0,PH26 3LR,315180,834960,Highlands
Tullibardine,2.0,3,0,0,1,0,2.0,1,1,2,2,1,PH4 1QG,289690,708850,2

In [5]:
# Cells with data of wrong format can make it difficult, or even impossible, to analyze data.
# To fix it, you have two options: remove the rows, or convert all cells in the columns into the same format.

import numpy as np
whisky['Body'] = whisky['Body'].apply(np.int64)

display(whisky.head(12))

,Body,Sweetness,Smoky,Medicinal,Tobacco,Honey,Spicy,Winey,Nutty,Malty,Fruity,Floral,Postcode,Latitude,Longitude,Region
Distillery,,,,,,,,,,,,,,,,
Aberfeldy,2,2,2,0,0,2,1.0,2,2,2,2,2,PH15 2EB,286580,749680,Speyside
Aberlour,3,3,1,0,0,4,3.0,2,2,3,3,8,AB38 9PJ,326340,842570,Highlands
AnCnoc,1,3,2,0,0,2,0.0,0,2,2,3,2,AB5 5LI,352960,839320,Islay
Ardbeg,4,1,4,4,0,0,2.0,0,1,2,1,0,PA42 7EB,141560,646220,Highlands
Ardmore,2,2,2,0,0,1,1.0,1,2,3,1,1,AB54 4NH,355350,829140,Islands
Ardmore,2,2,2,0,0,1,1.0,1,2,3,1,1,AB54 4NH,355350,829140,Islands
ArranIsleOf,2,3,1,1,0,1,1.0,1,0,1,1,2,KA27 8HJ,194050,649950,Lowlands
Auchentoshan,2,2,0,0,0,1,1.0,0,2,2,3,3,G81 4SJ,247670,672610,Speyside
Auchroisk,2,3,1,0,0,2,1.0,2,2,2,2,1,AB55 3XS,340754,848623,Speyside
Aultmore,2,2,1,0,0,1,0.0,0,2,2,2,2,AB55 3QY,340754,848623,Highlands
Balblair,2,3,2,1,0,0,2.0,0,2,1,2,1,IV19 1LB,270820,885770,Speyside
Balmenach,4,3,2,0,0,2,1.0,3,3,0,1,2,PH26 3PF,307750,827170,Speyside

In [6]:
# Duplicate rows are rows that have been registered more than one time.
# To discover duplicates, we can use the duplicated() method.
# The duplicated() method returns a Boolean values for each row:

print(whisky.duplicated().to_string())

# To remove duplicates, use the drop_duplicates() method.
whisky.drop_duplicates(inplace = True) 
display(whisky.head(12))

# Notice dplicated vlauses of Ardmore and Caol Ila are gone

Distillery
Aberfeldy             False
Aberlour              False
AnCnoc                False
Ardbeg                False
Ardmore               False
Ardmore                True
ArranIsleOf           False
Auchentoshan          False
Auchroisk             False
Aultmore              False
Balblair              False
Balmenach             False
Belvenie              False
BenNevis              False
Benriach              False
Benrinnes             False
Benromach             False
Bladnoch              False
BlairAthol            False
Bowmore               False
Bruichladdich         False
Bunnahabhain          False
Caol Ila              False
Caol Ila               True
Cardhu                False
Clynelish             False
Craigallechie         False
Craigganmore          False
Dailuaine             False
Dalmore               False
Dalwhinnie            False
Deanston              False
Dufftown              False
Edradour              False
GlenDeveronMacduff    False
GlenElgin             False
GlenGarioch           False
GlenGrant             False
GlenKeith             False
GlenMoray             False
GlenOrd               False
GlenScotia            False
GlenSpey              False
Glenallachie          False
Glendronach           False
Glendullan            False
Glenfarclas           False
Glenfiddich           False
Glengoyne             False
Glenkinchie           False
Glenlivet             False
Glenlossie            False
Glenmorangie          False
Glenrothes            False
Glenturret            False
Highland Park         False
Inchgower             False
Isle of Jura          False
Knochando             False
Lagavulin             False
Laphroig              False
Linkwood              False
Loch Lomond           False
Longmorn              False
Macallan              False
Mannochmore           False
Miltonduff            False
Mortlach              False
Oban                  False
OldFettercairn        False
OldPulteney           False
RoyalBrackla          False
RoyalLochnagar        False
Scapa                 False
Speyburn              False
Speyside              False
Springbank            False
Strathisla            False
Strathmill            False
Talisker              False
Tamdhu                False
Tamnavulin            False
Teaninich             False
Tobermory             False
Tomatin               False
Tomintoul             False
Tormore               False
Tullibardine          False

,Body,Sweetness,Smoky,Medicinal,Tobacco,Honey,Spicy,Winey,Nutty,Malty,Fruity,Floral,Postcode,Latitude,Longitude,Region
Distillery,,,,,,,,,,,,,,,,
Aberfeldy,2,2,2,0,0,2,1.0,2,2,2,2,2,PH15 2EB,286580,749680,Speyside
Aberlour,3,3,1,0,0,4,3.0,2,2,3,3,8,AB38 9PJ,326340,842570,Highlands
AnCnoc,1,3,2,0,0,2,0.0,0,2,2,3,2,AB5 5LI,352960,839320,Islay
Ardbeg,4,1,4,4,0,0,2.0,0,1,2,1,0,PA42 7EB,141560,646220,Highlands
Ardmore,2,2,2,0,0,1,1.0,1,2,3,1,1,AB54 4NH,355350,829140,Islands
ArranIsleOf,2,3,1,1,0,1,1.0,1,0,1,1,2,KA27 8HJ,194050,649950,Lowlands
Auchentoshan,2,2,0,0,0,1,1.0,0,2,2,3,3,G81 4SJ,247670,672610,Speyside
Auchroisk,2,3,1,0,0,2,1.0,2,2,2,2,1,AB55 3XS,340754,848623,Speyside
Aultmore,2,2,1,0,0,1,0.0,0,2,2,2,2,AB55 3QY,340754,848623,Highlands
Balblair,2,3,2,1,0,0,2.0,0,2,1,2,1,IV19 1LB,270820,885770,Speyside
Balmenach,4,3,2,0,0,2,1.0,3,3,0,1,2,PH26 3PF,307750,827170,Speyside
Belvenie,3,2,1,0,0,3,2.0,1,0,2,2,2,AB55 4DH,332680,840840,Highlands

In [7]:
# "Wrong data" does not have to be "empty cells" or "wrong format", it can just be wrong, like if someone registered "199" instead of "1.99".
# One way to fix wrong values is to replace them with something else.
# we know that Body-> Floral should be a value 0 to 4

# This will give you an error if you have duplicate cells
for x in whisky.index:
  if whisky.loc[x, "Floral"].item() > 4:
    whisky.loc[x, "Floral"] = 4
    
  elif whisky.loc[x, "Floral"] < 0:
    whisky.loc[x, "Floral"] = 0

display(whisky.head(12))

# Notice Aberlour Floral is changed from 8 to 4

,Body,Sweetness,Smoky,Medicinal,Tobacco,Honey,Spicy,Winey,Nutty,Malty,Fruity,Floral,Postcode,Latitude,Longitude,Region
Distillery,,,,,,,,,,,,,,,,
Aberfeldy,2,2,2,0,0,2,1.0,2,2,2,2,2,PH15 2EB,286580,749680,Speyside
Aberlour,3,3,1,0,0,4,3.0,2,2,3,3,4,AB38 9PJ,326340,842570,Highlands
AnCnoc,1,3,2,0,0,2,0.0,0,2,2,3,2,AB5 5LI,352960,839320,Islay
Ardbeg,4,1,4,4,0,0,2.0,0,1,2,1,0,PA42 7EB,141560,646220,Highlands
Ardmore,2,2,2,0,0,1,1.0,1,2,3,1,1,AB54 4NH,355350,829140,Islands
ArranIsleOf,2,3,1,1,0,1,1.0,1,0,1,1,2,KA27 8HJ,194050,649950,Lowlands
Auchentoshan,2,2,0,0,0,1,1.0,0,2,2,3,3,G81 4SJ,247670,672610,Speyside
Auchroisk,2,3,1,0,0,2,1.0,2,2,2,2,1,AB55 3XS,340754,848623,Speyside
Aultmore,2,2,1,0,0,1,0.0,0,2,2,2,2,AB55 3QY,340754,848623,Highlands
Balblair,2,3,2,1,0,0,2.0,0,2,1,2,1,IV19 1LB,270820,885770,Speyside
Balmenach,4,3,2,0,0,2,1.0,3,3,0,1,2,PH26 3PF,307750,827170,Speyside
Belvenie,3,2,1,0,0,3,2.0,1,0,2,2,2,AB55 4DH,332680,840840,Highlands